EBAY_ENVIRONMENT=production
PRODUCTION_APP_ID=
PRODUCTION_DEV_ID=
PRODUCTION_CERT_ID=
SANDBOX_APP_ID=
SANDBOX_DEV_ID=
SANDBOX_CERT_ID=
USER_ACCESS_TOKEN=
REQUEST_LOCALE=en-US
OAUTH_USER_SCOPES="https://api.ebay.com/oauth/api_scope/sell.inventory.readonly https://api.ebay.com/oauth/api_scope/sell.account.readonly"
OAUTH_AUTHORIZE_URL_BASE=https://auth.ebay.com/oauth2/authorize
