EBAY_ENVIRONMENT=production
APP_ID=
DEV_ID=
CERT_ID=
USER_ACCESS_TOKEN=
OAUTH_USER_SCOPES=https://api.ebay.com/oauth/api_scope/sell.inventory.readonly,https://api.ebay.com/oauth/api_scope/sell.account.readonly
OAUTH_AUTHORIZE_URL_BASE=https://auth.ebay.com/oauth2/authorize
